doctype html
html
  head
    meta(charset='utf-8')
    title Task Master 
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 The Task Master App
    nav
      #home: a(href="/") Home
      #about: a(href="/about") About
      #contact: a(href="/contact") Contact
      #faq: a(href="/faq") FAQ
      #priority: a(href="/priorities/new") Create New Priortiy
      #priorities: a(href="/priorities") Show All Priorities

      //#task: a(href="/tasks/new") Create New Task
      //#tasks: a(href="/tasks") Show All Tasks

  block content
