doctype html
html
  head
    meta(charset='utf-8')
    title Task Master 
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 The Task Master
    nav
      a(href="/") Home
      a(href="/about") About
      a(href="/contact") Contact
      a(href="/faq") FAQ
      a(href="/priorities/new") New Priortiy
      a(href="/priorities") All Priorities
      a(href="/tasks/new") New Task
      a(href="/tasks") All Tasks

  block content
