extends ../shared/template

block content
  
    h3 About
        p Bacon ipsum dolor sit amet shoulder t-bone swine shankle, venison sirloin chuck fatback tenderloin meatloaf beef ribs jerky salami pancetta pork. Pancetta pork loin ball tip, biltong andouille drumstick pork belly. Pork loin turkey jowl venison pork chop, beef leberkas swine meatloaf biltong fatback. Hamburger filet mignon beef chicken shoulder drumstick pork belly ham tail leberkas pancetta. Spare ribs short loin pork belly, leberkas venison ball tip andouille filet mignon doner. Sausage pig biltong beef ribs turducken salami frankfurter hamburger ham flank ball tip tail. Tail boudin ball tip brisket venison shankle chicken strip steak.

Biltong ribeye t-bone doner cow pork loin, tri-tip sausage tenderloin filet mignon pastrami. Pastrami sausage boudin shankle bacon pork belly. Salami short ribs filet mignon, strip steak meatloaf turkey ground round leberkas kielbasa. Turducken kielbasa cow flank boudin sirloin, bresaola andouille pork belly. Hamburger frankfurter rump spare ribs drumstick ham.
