extends ../shared/template

block content
  table
    thead
      tr
        td Name
        td Color
        td Value
    tbody
      each priority in priorities
        tr(style="background-color: #{priority.color}")
          td= priority.name
          td
          td= priority.value
