extends ../shared/template

block content
  table
    thead
      tr
        td Name
        td Color
        td Value
    tbody
      each priority in priorities
        tr= name
        tr: div(style="color: #{color}, padding: 2px")
        tr= value
