extends ../shared/template

block content
  h3 Add a New Priority
  form(method='post', action='/priorities')
    input(name='name', type='text', placeholder='medium', autofocus=true)
    input(name='color', type='color', value='#ff0000')
    input(name='value', type='text', placeholder='1-10')
    button Add Priority
